# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform.lock.hcl
.terraform/
bak.terraform/

# built lambda
.zip

# input file
input.tfvars
input-*.tfvars

*.notes

#asdf tool-versions
.tool-versions

service-account-credentials.json
github-secrets.json
GCP_SA_KEY.json
